{% extends 'guest/base.html' %}
{% block content %}
{% load static %}


<div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
<!--            <div class="row g-0">-->
<!--                <div class="col-md-6">-->
<!--                    <div class="video">-->
<!--                        <button type="button" class="btn-play" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">-->
<!--                            <span></span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-md-6 bg-dark d-flex align-items-center">
                    <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                        <h5 class="section-title ff-secondary text-start text-primary fw-normal"></h5>
                        <h1 class="text-white mb-4">Book A Hostel</h1>
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="row g-3">

                                  <div class="col-12">
                                    <div class="form-floating">
                                        <input type="date" class="form-control" id="name" name="check" placeholder="Your Name">
                                        <label for="message">check in Date</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="name" name="no" placeholder="No of Days">
                                        <label for="message">No of Days</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Book Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}