{% extends 'hostel/base.html' %}
{% block content %}
{% load static %}


<div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
<!--            <div class="row g-0">-->
<!--                <div class="col-md-6">-->
<!--                    <div class="video">-->
<!--                        <button type="button" class="btn-play" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">-->
<!--                            <span></span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-md-6 bg-dark d-flex align-items-center">
                    <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                        <h5 class="section-title ff-secondary text-start text-primary fw-normal"></h5>
                        <h1 class="text-white mb-4">Add Room</h1>
                        <form method="post" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-12">
                                    <div class="form-floating">
                                        <label for="message">Room Number</label>

                                        <input type="number" class="form-control" id="name" name="number" placeholder="Room Number">
                                    </div>
                                </div>
                                  
                                <div class="col-12">
                                    <div class="form-floating">
                                        <label for="message">Room Type</label>

                                        <input type="text" class="form-control" id="name" name="type" placeholder="Room Type">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <label for="message">Block</label>

                                        <input type="text" class="form-control" id="name" name="block" placeholder="Block">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">ADD</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}